name: Reviewdog

on:
  push:
    branches:
      - "main"
  pull_request:
    types:
      - "opened"
      - "synchronize"

defaults:
  run:
    shell: bash

jobs:
  biome:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - uses: actions/cache@v4
        env:
          cache-name: bun-cache
        with:
          key: ${{ env.cache-name }}-${{ hashFiles('**/bun.lockb') }}
          path: ~/.bun/install/cache

      - name: Install dependencies
        run: bun install

      - uses: mongolyy/reviewdog-action-biome@v2
        with:
          reporter: 'github-check'
          fail_on_error: true
          biome_flags: './src *.js *.ts *.json'


  typos:
    name: typos (Spellchecker)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run typos
        uses: Shemnei/reviewdog-action-typos@v0
        with:
          reporter: 'github-check'
          fail_on_error: true
